

body{
    height: 100%;
    margin: 0;
    background: #fff;
}
tr#TableHead{
    background: #e4e5e5;
}

tr#trt{
    transition: 0.35s;
}
tr#trt:hover { background: #00c6ff; }
tr#trt:active { background: #e4e5e5; }

table#hist{
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 1px;
}
table{
    font-size: 12px;
    font-weight: 700;
}
td#hist,th#hist{
    border: 2px solid #00c6ff;
}
td#solid{
    font-weight: 500;
}
h2,h4{
    color: #959595;
}

